@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    font-family: Oswald, serif;
    background: linear-gradient(18deg, #004cff 30%, #d6deff 100%);
}

p {
    color: black;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(126, 126, 126);
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: rgb(126, 126, 126);
}

.sidebar {
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg, #004cff 5%, #d6deff 100%);
    border-radius: 10px;
}

.card {
    background: linear-gradient(87deg, #1f62ff 1%, #d6deff 100%);
    color: rgb(0, 0, 0);
    border-width: 3px;
    border-color: rgb(25, 67, 255);
    border-radius: 10px;
    box-shadow: 6px 5px 20px 0px #000000;
}

.card a {
    text-decoration: none;
    color: black;
}

.footer-text {
    color: black;
}

.carousel-inner p {
    color: black;
}

footer {
    background: linear-gradient(45deg, #004cff 5%, #d6deff 100%);
    padding-top: 2rem;

}

footer img {
    width: 50px;
    margin-inline: 1em;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

.btn-outline-primary {
    background: linear-gradient(45deg, #004cff 5%, #d6deff 100%);
}